@model Wellora.Areas.Patient.ViewModels.PatientRegistrationViewModel

@{
    Layout = "~/Areas/Patient/Views/Shared/_AuthLayout.cshtml";
}

@{
    ViewData["Title"] = "Patient Registration";
}


<!-- custom  CSS -->

<link rel="stylesheet" href="~/css/account/user_registration.css" />


<div class="main-screen">
    <div class="login-box shadow">
        <div class="text-center">
            <h2 class="title-text">Patient Registration</h2>
            <div class="teal-line"></div>
        </div>

        <form asp-action="PatientRegistration" asp-controller="PatientAccount" asp-area="Patient" method="post" class="mt-4">
            <div class="row">
                <div class="col-6 mb-3">
                    <label asp-for="FirstName" class="label-style"></label>
                    <input asp-for="FirstName" class="form-control input-field" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-6 mb-3">
                    <label asp-for="LastName" class="label-style"></label>
                    <input asp-for="LastName" class="form-control input-field" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Username" class="label-style"></label>
                <input asp-for="Username" class="form-control input-field" placeholder="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="label-style"></label>
                <input asp-for="Email" class="form-control input-field" id="Email"
                       onkeyup="validateEmail('Email','EmailError')" />
                <span id="EmailError" class="text-danger"></span>
            </div>

            <div class="mb-3 position-relative">
                <label asp-for="Password" class="label-style"></label>
                <input asp-for="Password" class="form-control input-field" id="Password"
                       onkeyup="validatePassword('Password','PasswordError')" type="password" />
                <span class="position-absolute end-0 top-50 translate-middle-y me-3"
                      onclick="togglePassword('Password','togglePasswordIcon')">
                    <i id="togglePasswordIcon" class="fa fa-eye-slash text-success"></i>
                </span>
                <span id="PasswordError" class="text-danger"></span>
            </div>

            <div class="mb-3 position-relative">
                <label asp-for="ConfirmPassword" class="label-style"></label>
                <input asp-for="ConfirmPassword" class="form-control input-field" id="ConfirmPassword" type="password" />
                <span class="position-absolute end-0 top-50 translate-middle-y me-3"
                      onclick="togglePassword('ConfirmPassword','toggleConfirmPasswordIcon')">
                    <i id="toggleConfirmPasswordIcon" class="fa fa-eye-slash text-success"></i>
                </span>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>



            <button type="submit" class="btn login-btn w-100 mt-2">Register</button>

            <div class="text-center mt-3">
                <small class="text-muted">
                    Already have an account?
                    <a asp-area="Patient" asp-controller="PatientAccount" asp-action="PatientLogin" class="forgot-text">Login</a>
                </small>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/js/input_validation.js"></script>
         