@model IEnumerable<Wellora.Areas.Patient.Models.User>

<h2>Users in Database</h2>

<table class="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Email</th>
            <th>Role</th>
            <th>CreatedAt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>@user.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>
